body{
    background-color: rgb(253 176 31 / 70%);
    font-family: 'Noto Sans', sans-serif;
}

/* main section */
#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#heading{
    text-align: center;
    font-size: 44px;
    margin-bottom: 20px;
}
#lists{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}
.boxes{
    width:100%;
    padding: 10px 10px;
    margin: 10px 20px;
    border: 2px solid #724949;
    display: flex;
    flex-direction: row;
    border-radius: 8px;

}
/* .boxes:hover{
    background-color:#f1c064;
    
} */
.items{
    width:80%;
    padding: 10px 20px;
    border: 1px solid #f1c064;
    margin:0px 10px;
    border-radius: 8px;
    background-color: #f9c159;
    font-size: 20px;
    
}
button{
    margin:10px 10px;
    padding:5px 10px;
    border-radius: 8px;
    background-color: rgb(253 199 97);
}
button:hover{
    background-color:#f1c064;
}